@charset "UTF-8";
section#conteudo{
    width: 1000px;
    margin: auto;

}

iframe#frame-spec{
 width: 500px;
 height: 300px;
 border: none;
 overflow: hidden;
}

iframe#frame-spec::-webkit-scrollbar{
    display: none;
}

footer#rodape{
    clear: both;
    border-top:  1px solid #606060;
    text-align: center;
    color: #000000;
    
  
  }